<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ac.assignment_project_014">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TicketMaster.TicketMasterSavedEventsActivity"></activity>
        <activity android:name=".TicketMaster.TicketMasterEventDetailsActivity" />
        <activity android:name=".TicketMaster.TicketMasterMainActivity" />
        <activity
            android:name=".recipe.SearchCriteria"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".recipe.SearchHistoryActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".recipe.MyFavouriteActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".recipe.RecipeMainActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>